In [101]:
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt

In [102]:
data = pd.read_csv('train.csv')

In [103]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
data = np.array(data)
m,n = data.shape
np.random.shuffle(data)

In [105]:
data_test = data[0:1000].T
X_test = data_test[1:n]
Y_test = data_test[0]
X_test = X_test / 255.

In [106]:
data_train = data[1000:m].T
X_train = data_train[1:n]
Y_train = data_train[0]
X_train = X_train / 255.

In [107]:
def init_params():
    W1 = np.random.rand(10, 784) - 0.5
    b1 = np.random.rand(10, 1)- 0.5
    W2 = np.random.rand(10, 10)- 0.5
    b2 = np.random.rand(10, 1)- 0.5
    return W1, b1, W2, b2

In [108]:
def ReLU(Z):
    return np.maximum(0, Z)

In [109]:
def softmax(Z):
    A = np.exp(Z) / sum(np.exp(Z))
    return A

In [110]:
def one_hot(Y):
    one_hot_Y = np.zeros((Y.size, Y.max() + 1))
    one_hot_Y[np.arange(Y.size), Y] = 1
    one_hot_Y = one_hot_Y.T
    return one_hot_Y

In [111]:
def forward_propagation(W1, b1, W2, b2, X):
    Z1 = W1.dot(X) + b1
    A1 = ReLU(Z1)
    Z2 = W2.dot(A1) + b2
    A2 = softmax(Z2)
    return Z1, A1, Z2, A2

In [112]:
def deriv_ReLU(Z):
    return Z > 0

In [113]:
def back_propagation(Z1, A1, Z2, A2, W1, W2, X, Y):
    one_hot_Y = one_hot(Y)
    dZ2 = A2 - one_hot_Y
    dW2 = 1 / m * dZ2.dot(A1.T)
    db2 = 1 / m * np.sum(dZ2)
    dZ1 = W2.T.dot(dZ2) * deriv_ReLU(Z1)
    dW1 = 1 / m * dZ1.dot(X.T)
    db1 = 1 / m * np.sum(dZ1)
    return dW1, db1, dW2, db2

In [114]:
def update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha):
    W1 = W1 - alpha * dW1
    b1 = b1 - alpha * db1
    W2 = W2 - alpha * dW2
    b2 = b2 - alpha * db2
    return W1, b1, W2, b2

In [115]:
def get_predictions(A2):
    return np.argmax(A2, 0)

In [116]:
def get_accuracy(predictions, Y):
    # print(predictions, Y)
    return np.sum(predictions == Y) / Y.size

In [117]:
def gradient_descent(X, Y, alpha, iterations):
    W1, b1, W2, b2 = init_params()
    for i in range(iterations):
        Z1, A1, Z2, A2 = forward_propagation(W1, b1, W2, b2, X)
        dW1, db1, dW2, db2 = back_propagation(Z1, A1, Z2, A2, W1, W2, X, Y)
        W1, b1, W2, b2 = update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha)
        if i % 100 == 0:
            print("Iteration: ", i)
            predictions = get_predictions(A2)
            print(get_accuracy(predictions, Y))
    return W1, b1, W2, b2

In [118]:
W1, b1, W2, b2 = gradient_descent(X_train, Y_train, 0.1, 5000)

Iteration:  0
0.09819512195121952
Iteration:  100
0.6755609756097561
Iteration:  200
0.7825121951219512
Iteration:  300
0.8201951219512195
Iteration:  400
0.8394146341463414
Iteration:  500
0.8506585365853658
Iteration:  600
0.8583658536585366
Iteration:  700
0.8641951219512195
Iteration:  800
0.8694146341463415
Iteration:  900
0.873390243902439
Iteration:  1000
0.8774878048780488
Iteration:  1100
0.8805365853658537
Iteration:  1200
0.8836341463414634
Iteration:  1300
0.8859756097560976
Iteration:  1400
0.8884634146341464
Iteration:  1500
0.8907560975609756
Iteration:  1600
0.8928780487804878
Iteration:  1700
0.8950731707317073
Iteration:  1800
0.8967804878048781
Iteration:  1900
0.898390243902439
Iteration:  2000
0.9001219512195122
Iteration:  2100
0.9015609756097561
Iteration:  2200
0.9025609756097561
Iteration:  2300
0.903609756097561
Iteration:  2400
0.904609756097561
Iteration:  2500
0.9059512195121951
Iteration:  2600
0.9069756097560976
Iteration:  2700
0.9076585365853659
Iteration:  2800
0.9087317073170732
Iteration:  2900
0.9096829268292683
Iteration:  3000
0.9105121951219513
Iteration:  3100
0.9114878048780488
Iteration:  3200
0.912609756097561
Iteration:  3300
0.9133902439024391
Iteration:  3400
0.914219512195122
Iteration:  3500
0.9151219512195122
Iteration:  3600
0.9160243902439025
Iteration:  3700
0.9166585365853659
Iteration:  3800
0.9178048780487805
Iteration:  3900
0.9184634146341464
Iteration:  4000
0.918829268292683
Iteration:  4100
0.9196341463414635
Iteration:  4200
0.9200731707317074
Iteration:  4300
0.9206829268292683
Iteration:  4400
0.9212682926829269
Iteration:  4500
0.9219024390243903
Iteration:  4600
0.9223170731707317
Iteration:  4700
0.9229512195121952
Iteration:  4800
0.9231463414634147
Iteration:  4900
0.923609756097561

In [119]:
def make_predictions(X, W1, b1, W2, b2):
    _, _, _, A2 = forward_propagation(W1, b1, W2, b2, X)
    predictions = get_predictions(A2)
    return predictions

In [120]:
def test_prediction(index, W1, b1, W2, b2):
    current_image = X_train[:, index, None]
    prediction = make_predictions(X_train[:, index, None], W1, b1, W2, b2)
    label = Y_train[index]
    print("Prediction: ", prediction)
    print("Label: ", label)

    current_image = current_image.reshape((28, 28)) * 255
    plt.gray()
    plt.imshow(current_image, interpolation='nearest')
    plt.show()

In [121]:
predictions = make_predictions(X_test, W1, b1, W2, b2)
accuracy = get_accuracy(predictions, Y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.91